body{
	background: rgba(218, 18, 168, 0.9); /* #2322aa   red, blue, */
	padding: 0 20px 20px 20px; /* верх, право, низ, лево */
	margin: 0;
}
article{
	max-width: 760px;
	margin: 0 auto;
}
p{
	color: rgb(255, 255, 255);
	font-size: 18px; /* px, em, %  */
	font-family: "Kurale", Arial, Helvetica, sans-serif;
	/* fonts.googleapis.com */
}
h1, h2, h3{
	color: rgb(255, 255, 255);
	font-family: Arial, "Palatino Linotype", serif;
	border-bottom:2px solid #ff3412;
	padding-top:12px;
	padding-bottom: 4px;
}
h1{
	font-size: 2em;
}
h2{
	color: chocolate;
	font-size: 3em;
}
#logo{
	font-family: Baskerville, Palatino, sans-serif;
	font-size: 2.1em;
	color: rgba(255, 255, 255, 0.8);
	font-style: italic;
	text-align: center;
	margin-bottom: 36px;
	background: rgb(190, 180, 110);
	border-radius: 10px 10px 10px 10px; /*  верх левый, верх прав, низ прав, низ лев  */
	padding: 14px;
}
.note {
	color: #000000;
	border: 2px solid #fff;
	background: rgb(69, 189, 102);
	margin-top: 22px;
	margin-bottom: 30px;
	padding: 18px;
}